.header {
  min-width: 900px;
  padding: 30px 10% 0;
}
.header__title {
  background: url('../img/barcod.png') no-repeat right 50%;
  height: 50px;
}
.header__title-text a {
  font-size: 29px;
  color: #afca04;
  padding: 20px 0 20px 70px;
  width: 450px;
  background: url('../img/hands.png') no-repeat left 50%;
  white-space: nowrap;
}
@font-face {
  font-family: GOST;
  src: url("../fonts/GOST_B_.TTF");
}
body,
p,
h1,
h2,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-family: 'GOST';
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.menu {
  display: block;
  float: right;
  padding: 20px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.menu:after {
  content: '';
  display: table;
  clear: both;
}
.menu__item {
  display: inline-block;
  position: relative;
}
.menu__item a {
  color: #818180;
  font-size: 17px;
  padding: 2px 20px;
  text-align: center;
  border-left: 1px solid #818180;
  text-transform: lowercase;
  white-space: nowrap;
}
.menu__item--last a {
  border-right: 1px solid #818180;
  border-left: 1px solid #818180;
}
.menu__item:hover a {
  background-color: #afca04;
  color: #ffffff;
  border-color: #afca04;
}
.menu__sub-menu {
  display: none;
  padding: 5px 0;
  background-color: #afca04;
  width: 119px;
  text-align: center;
}
.menu__sub-menu-item {
  padding: 5px 0;
  color: #ffffff;
  text-align: center;
  border: none;
}
.menu__sub-menu-item a {
  display: block;
  margin: 0 auto;
  border: 1px solid transparent;
  padding: 0;
  color: #ffffff;
  width: 105px;
}
.menu__sub-menu-item a:hover {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
.menu li:hover .menu__sub-menu {
  display: block;
  position: absolute;
  z-index: 100;
}
.menu__sub-menu li:hover:nth-last-child(2) + .menu__sub-menu-item a {
  border-right-color: #afca04;
}
.menu--footer {
  float: none;
  text-align: center;
}
.menu li:hover + li a {
  border-color: transparent;
}
.menu li:hover:nth-last-child(2) + li a {
  border-right-color: #818180;
}
.width-item-menu {
  width: 119px;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
