@font-face {
  font-family: GOST;
  src: url("@{fonts-path}/GOST_B_.TTF");
}


body,
p,
h1,
h2,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-family: 'GOST';
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;

}
